// https://css-tricks.com/snippets/css/fluid-typography/
// font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

// $min_width: 800px;
// $max_width: 1920px;
// $min_font: 16px;
// $max_font: 24px;
$mobile_min_width: 320px;
$mobile_max_width: 800px;
$desktop_max_width: 1920px;
$base_value: 1.0; // could separate into different base values for each "padding", "margin" and "font-size"

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($css-type, $min-font-size, $max-font-size) {
  @include fluid-type-range($css-type, $mobile_min_width, $desktop_max_width, $min-font-size, $max-font-size);
}

@mixin fluid-type-sm($css-type, $min-font-size, $max-font-size) {
  @include fluid-type-range($css-type, $mobile_min_width, $mobile_max_width, $min-font-size, $max-font-size);
}

@mixin fluid-type-lg($css-type, $min-font-size, $max-font-size) {
  @include fluid-type-range($css-type, $mobile_max_width, $desktop_max_width, $min-font-size, $max-font-size);
}

@mixin fluid-type-range($css-type, $min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      #{$css-type}: (#{$base_value} * $min-font-size);
      @media screen and (min-width: $min-vw) {
        #{$css-type}: calc(#{$base_value} * (#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})));
      }
      @media screen and (min-width: $max-vw) {
        #{$css-type}: (#{$base_value} * $max-font-size);
      }
    }
  }
}

// @include fluid-type-range(500px, 1024px, "margin-top", 70px, 90px);
// @include fluid-type-range(300px, 1024px, "font-size", 12px, 18px);
